@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

.item {
  display: block;
  margin-bottom: 10px;
}

.photo {
  height: 150px;

  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
  background-position: 50%;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .photo {
    height: 119px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .photo {
    height: 405px;
  }
}

@media (max-width: $screen-xs-max) {

  .photo {
    height: 350px;
  }
}

@media (max-width: 480px) {

  .photo {
    height: 253px;
  }
}

@media (max-width: 414px) {

  .photo {
    height: 208px;
  }
}

@media (max-width: 375px) {

  .photo {
    height: 195px;
  }
}

.title {
  height: 50px;
  padding: 5px 0;
  font-weight: 200;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
